{{ header }}
<section id="information-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="information-content company">
                    <div class="col-sm-12">
                        <div class="information-text font-white">
                            <h2 class="font-yellow">HERBICAT</h2>
                            <br>                        
                            <p>Melhorar a produtividade no campo com menor impacto financeiro,
                                humano e ambiental. Proporcionar produtividade sustentável.
                            </p>
                            <p>É com esse propósito que a Herbicat trabalha desde 1988, sendo uma indústria de pulverizadores, com produtos padrão, personalizados/customizados ou projetos sob demanda, com tecnologia, adaptados às necessidades de cada cliente para melhor performance no campo. Conta, ainda, com a distribuição de renomadas marcas do segmento e prestação de serviços.</p>
                            <p>O conhecimento da empresa, constantemente obtido e difundido, fez dela uma referência em pulverização e a mais indicada para especificar e fornecer produtos voltados à tecnologia de aplicação, que melhor se adequem às necessidades do produtor.</p>
                            <p>A melhor solução é sempre aquela que o cliente demanda. Produzir alimentos com segurança, reduzir o desperdício e contaminação do meio ambiente.
                            </p>
                            <p>Herbicat: alcançar resultados sofisticados com tecnologia simples. E sustentar isso.</p>
                            <p><br></p>
                            <p>Linha do tempo:</p>
                            <p>1988 - Fundação da Herbicat pelo Engenheiro Agrônomo Luís César Pio<br>1990 - Início do trabalho com acessórios de pulverização<br>1993 - Primeiros projetos de pulverizadores / Surgimento da indústria de desenvolvimento e fabricação de pulverizadores<br>2019 - Reposicionamento da marca no mercado, incluindo redesign da marca
                            </p>
                            <p><br></p>
                            <p><strong>Missão</strong></p>
                            <p>Servir os clientes com as melhores tecnologias em aplicação de
                                insumos, por meio de conhecimentos, produtos e serviços que
                                proporcionem produtividade, qualidade, segurança e preservação
                                ambiental.</p>
                                <br>
                            <p><strong>Visão</strong></p>
                            <p>Estar entre os melhores do Brasil no fornecimento de tecnologias para a aplicação de insumos destinados ao mercado agrícola, com iniciativas em outros mercados selecionados, garantindo patamares de lucratividade que permitam o desenvolvimento da empresa, da equipe e dos demais agentes econômicos envolvidos.</p>
                            <br>
                            <p><strong>Valores</strong></p>
                            <ul>
                                <li>Foco em resultados para todos os envolvidos;</li>
                                <li>Crescimento sustentável;</li>
                                <li>Inovação e criatividade;</li>
                                <li>Comprometimento e trabalho em equipe;</li>
                                <li>Melhoria contínua da qualidade de todos os processos;</li>
                                <li>Clareza e transparência nas comunicações interna e externa;</li>
                                <li>Ética e respeito nas relações humanas;</li>
                                <li>Responsabilidade social e com o meio ambiente.<br></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    {# <div class="col-sm-6 font-white">
                        <div class="information-text font-white">
                        <br>
                        <br>
                        <br>
                        <br>
                            
                    </div> #}
                </div>
            </div>
        </div>
    </div>
</section>
{# <div class="container" id="information-information">
    <div id="content">
        <h1>{{ heading_title }}</h1>
        {{ description }}
    </div>
</div> #}
{{ footer }}
