{{ header }}

<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="img-responsive" src="image/cache/catalog/produtos/trator.png" alt="product-image">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="product-info">
                    <h3 class="product-title"><span>Produto: </span><i>Herbicitrus - Pulverizador Barra Citrus Dupla</i></h3>
                    <h3 class="product-code"><span>Cod. Prod.: </span><i>PBH BCL 504</i></h3>
                    <h3 class="product-manufacturer"><span>Fabricante: </span><i>Herbicat</i></h3>
                </div>
                <div class="product-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span>Avalie este produto</span>
                </div>
                <div class="product-details">
                <h3>DESTAQUES DO PRODUTO</h3>
                    <ul class="list-unstyled product-details-list">
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Segurança para a planta nas manobras</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Controle de desarme</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Proteção em plantas novas com fechamento da ponta oc</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Praticidade nos ajuste de espaçamento em diferentes plantios</li>
                    </ul>
                    <p class="product-details-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec massa risus, aliquet vel finibus ac, bibendum sed nulla. 
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                        In a pharetra nisl. In fringilla felis quis tortor dignissim consequat. 
                        Fusce vulputate, enim eget bibendum venenatis, ligula lacus finibus ipsum, 
                        non accumsan tellus lectus vitae quam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



{{ footer }}
