{{ header }}

<section id="items-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li>
                             <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                 </ul>
              </div>
        </div>
    </div>
</section>


<section class="news">
    <div class="container">
        <div class="row">

            {% for row in posts %}

                <div class="col-md-4 col-sm-6 col-xs-12 news-item">
                    <div class="card line-bottom">
                        <a href="?route=custompages/singlepost&id={{ row.post_id }}">
                            <img class="card-img-top" src="{{ row.image }}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled info-list-blog">
                                <li class="blog-loop-item"><i><a href="?route=custompages/singlepost&id={{ row.post_id }}"><h5 class="product-info">{{ row.title }}</h5></a></i></li>
                                <li class="blog-loop-item"><p><span><i class="fa fa-calendar i-resp" aria-hidden="true"></i> {{ row.date_published|date("d/m/Y") }}</span></p></li>
                                <li class="blog-loop-item"><p class="card-text">{{ row.short_description }} <a href="?route=custompages/singlepost&id={{ row.post_id }}"><br>Continue lendo...</a> </p></li>
                            </ul>
                        </div>
                    </div>
                </div> 

            {% endfor %}
            
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <div class="pagination">{{ pagination }}</div>
                <div class="results">{{ results }}</div>
            </div>
        </div>

    </div>
</section>

{{ footer }}
