{{ header }}

<section id="items-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ search }}
            </div>
        </div>
    </div>
</section>

<section id="items-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li>
                             <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                 </ul>
              </div>
        </div>
    </div

<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="img-responsive" src="image/cache/catalog/produtos/trator.png" alt="product-image">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="product-info">
                    <h3 class="product-title"><span>Produto: </span><i>Herbicitrus - Pulverizador Barra Citrus Dupla</i></h3>
                    <h3 class="product-code"><span>Cod. Prod.: </span><i>PBH BCL 504</i></h3>
                    <h3 class="product-manufacturer"><span>Fabricante: </span><i>Herbicat</i></h3>
                </div>
               
                <div class="product-details">
                <h3>DESTAQUES DO PRODUTO</h3>
                    <ul class="list-unstyled product-details-list">
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Segurança para a planta nas manobras</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Controle de desarme</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Proteção em plantas novas com fechamento da ponta oc</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Praticidade nos ajuste de espaçamento em diferentes plantios</li>
                    </ul>
                    <p class="product-details-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec massa risus, aliquet vel finibus ac, bibendum sed nulla. 
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                        In a pharetra nisl. In fringilla felis quis tortor dignissim consequat. 
                        Fusce vulputate, enim eget bibendum venenatis, ligula lacus finibus ipsum, 
                        non accumsan tellus lectus vitae quam.
                    </p>
                </div>
                <div class="buttons-product">
                    <ul class="list-inline">
                        <li><button type="button" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> Baixar Manual </button></li>
                        <li><button type="button" class="btn btn-success" id="solicitar-orcamento"><i class="fa fa-commenting-o" aria-hidden="true"></i> Solicite Orçamento</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="spec-product">
    <div class="container">
     <h2 class="spec-title">ESPECIFICAÇÕES TÉCNICAS DO PRODUTO</h2>
        <div class="row spec-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Sistemas de Segurança</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Acionamento</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Sistema de pontas</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Controle de Altura</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Comandos Direcionais</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Sistemas de Filtragem</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
        </div>
    </div>
</section>


<section class="datasheet">
    <div class="container">
        <h2 class="spec-title">Ficha Técnica do Produto</h2>
        <div class="row datasheet-wrapper">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3 class="datasheet-title">Tamanho: 1,70M (Cada lado)</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3 class="datasheet-title">Faixa tratada: 1,90 (Cada Lado)</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3 class="datasheet-title">Pontas: 1TT11002VP +1 OC-02 (cada lado)</h3>
            </div>
        </div>
    </div>
</section>


{{ footer }}
