{{ header }}

<section class="product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img class="img-responsive" src="image/cache/catalog/produtos/trator.png" alt="product-image">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="product-info">
                    <h3 class="product-title"><span>Produto: </span><i>Herbicitrus - Pulverizador Barra Citrus Dupla</i></h3>
                    <h3 class="product-code"><span>Cod. Prod.: </span><i>PBH BCL 504</i></h3>
                    <h3 class="product-manufacturer"><span>Fabricante: </span><i>Herbicat</i></h3>
                </div>
                <div class="product-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span>Avalie este produto</span>
                </div>
                <div class="product-details">
                <h3>DESTAQUES DO PRODUTO</h3>
                    <ul class="list-unstyled product-details-list">
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Segurança para a planta nas manobras</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Controle de desarme</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Proteção em plantas novas com fechamento da ponta oc</li>
                        <li class="product-details-list-item"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Praticidade nos ajuste de espaçamento em diferentes plantios</li>
                    </ul>
                    <p class="product-details-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Donec massa risus, aliquet vel finibus ac, bibendum sed nulla. 
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                        In a pharetra nisl. In fringilla felis quis tortor dignissim consequat. 
                        Fusce vulputate, enim eget bibendum venenatis, ligula lacus finibus ipsum, 
                        non accumsan tellus lectus vitae quam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="spec-product">
    <div class="container">
     <h2 class="spec-title">ESPECIFICAÇÕES TÉCNICAS DO PRODUTO</h2>
        <div class="row spec-wrapper">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Sistemas de Segurança</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Acionamento</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Sistema de pontas</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Controle de Altura</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Comandos Direcionais</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="spec-title-item"><i class="fa fa-angle-right" aria-hidden="true"></i> Sistemas de Filtragem</h3>
                    <p class="spec-text-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Mauris dapibus ligula ante, eget tincidunt enim vestibulum et. Morbi 
                        mollis sem sed lobortis molestie. Donec malesuada augue 
                        turpis, et sodales augue rhoncus sed. Integer tincidunt cursus 
                        est et mattis. Duis sodales finibus velit in condimentum.
                    </p>
                </div>
        </div>
    </div>
</section>


<section class="datasheet">
    <div class="container">
        <h2 class="spec-title">Ficha Técnica do Produto</h2>
        <div class="row datasheet-wrapper">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3 class="datasheet-title">Tamanho: 1,70M (Cada lado)</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3 class="datasheet-title">Faixa tratada: 1,90 (Cada Lado)</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h3 class="datasheet-title">Pontas: 1TT11002VP +1 OC-02 (cada lado)</h3>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3">
                <a href="#">
                    <div class="download-wrapper">
                        <img class="img-responsive" src="image/cache/catalog/icon_pdf.png" alt=""><h3 class="datasheet-download-title">Faça download do manual</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>

<section class="form-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="#">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="name" placeholder="NOME">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="email" placeholder="E-MAIL">
                    </div>
                    <div class="form-group">
                        <textarea name="mensagem" id="mensagem" cols="30" rows="10" class="form-control input-lg" placeholder="ESCREVA SUA MENSAGEM ACERCA DO PRODUTO"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="reset" class="btn btn-primary">Limpar</button>
                </div> 
            </form>
        </div>
    </div>
</section>






{{ footer }}
