{{ header }}

    <section class="comming-soon">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="catalog/view/theme/herbicat/image/calculator.png" width="250" alt="pliers" class="img-responsive rounded mx-auto d-block">
            </div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Em breve uma nova forma de otimizar suas aplicações.</h1>
                    <p class="lead">Não se preocupe, estamos trabalhando firme para oferecer a melhor experiência para você.</p>
                    <hr class="my-4">
                    <p>Enquanto isso dê uma olhada em nossos produtos e soluções para o seu negócio ou entre em contato conosco.</p>
                    <p class="lead">
                        <a class="btn btn-primary" href="?route=product/products" role="button">Ver produtos</a>
                        <a class="btn btn-primary" href="javascript:;" id="contact-button" role="button">Entre em contato</a>
                    </p>
                  </div>
            </div>
        </div>
    </div>
</section>

{{ footer }}


