{{ header }}



<section id="items-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ search }}
            </div>
        </div>
    </div>
</section>

<section id="items-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li>
                             <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                 </ul>
              </div>
        </div>
    </div>
</section>

<section id="items">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="#"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="card">
                    <div class="img-item">
                        <div class="mask-item">
                            <a class="link-item" href="#">TESTE</a>
                        </div>
                        <a href="/?route=custompages/product"><img class="card-img-top" src="image/cache/catalog/produtos/trator.png" alt="Card image cap"></a>
                    </div>
                    <div class="card-body">
                        <a href="/?route=custompages/product"><h5 class="card-title">HERBICITRUS - PULVERIZADOR BARRA CITRUS DUPLA</h5></a>
                        <p class="card-text">CÓD. PROD.: <span>PBH BCL 504</span></p>
                        <p class="card-text manufacturer">FABRICANTE: <span>HERBICAT</span></p>
                        <a href="/?route=custompages/product" class="btn btn-primary">Ver detalhes <i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>




       

</section>


<section class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-10 col-xs-offset-2">
                <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                    <a class="page-link" href="#">Próxima</a>
                    </li>
                </ul>
                </nav>
            </div>
        </div>
    </div>
</section>


{{ footer }}
