section#items-search {
    margin-bottom: 10px;
}

section#items {
    margin-bottom: 60px;
}

.card-body h5 {
  font-size: 15px;
  color: #1a5f30;
  text-transform: uppercase;
  margin: 0px;
}

.card-body p {
    font-size: 10px;
    font-weight: bold;
    color: #444444;
    margin-bottom: 0px;
}


.card-body span {
    font-size: 14px;
    color: #1a5f30;
    text-transform: uppercase;
    font-weight: 500;
}

.card-body .manufacturer {
    border-bottom: 2px solid #1a5f30;
    width: 70%;
    padding-bottom: 10px;
}

.card-body .btn {
    margin: 15px 0px;
}

.card-body i {
    margin-left: 10px;
}

.mask-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #005f2763;
    border-radius: 10px;
    display: none;
}

.img-item .mask-item a.link-item {
    top: 50%;
    position: absolute;
    margin-top: -36px;
    left: 36%;
    margin-left: -36px;
}

/*.img-item:hover .mask-item {
    display: block;
}*/




/* PRODUCT PAGE */

section.product-details {
    margin: 35px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.product-info h3, .product-info {
    font-size: 16px !important;
    color: #1a5f30 !important;
    text-transform: uppercase;
    font-weight: 500;
    margin: 8px 0px;
    font-weight: 600;
}

.product-info span {
    font-size: 13px;
    font-weight: bold;
    color: #444444;
}

.product-details, .product-details-text {
    margin-top: 35px;
}

.product-details h3 {
    font-size: 16px;
    color: #1a5f30;
    text-transform: uppercase;
    font-weight: 600;
}

.product-details i {
    color: #1a5f30;
}

.product-rating {
    margin: 35px 0px;
    padding: 15px 0px;
    border-bottom: 1px solid #1a5f30;
    border-top: 1px solid #1a5f30;
    width: 60%;
}

.product-rating span:last-child{
    margin-left: 12px;
}

.fa-star:before {
    color: gold;
}

.product-details {
    text-transform: uppercase;
}

.buttons-product ul li:last-child > button {
    background: transparent;
    color: #5cb85c;
}

.buttons-product ul li:last-child > button i {
    color: #5cb85c !important;
}

.buttons-product ul li:last-child > button:hover {
    background: #5cb85c;
    color: #fff !important;
}

.buttons-product ul li:last-child > button:hover i{
    color: #fff !important;
}

.buttons-product button {
    text-transform: uppercase;
    font-size: 12px;
}

.datasheet > .container {
    margin-bottom: 60px;
}

section.spec-product, section.datasheet, section.form-contact {
    text-transform: uppercase;
    margin: 60px 0px;
    font-weight: bold;
}

section.spec-product h3, section.spec-product i {
    font-size: 16px;
    color: #1a5f30;
    text-transform: uppercase;
    font-weight: 600;
}

section.spec-product h3 {
    margin-bottom: 25px;
}

.spec-text-item {
    font-size: 12px;
}

.spec-wrapper {
    border-top: 3px solid #b6c931;
    border-bottom: 3px solid #b6c931;
    padding: 30px 0px;
}

.spec-title {
    color: #1a5f30;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.datasheet-wrapper {
    background-color: #b6c931;
    padding: 20px 0px;
}

.datasheet-title {
    color: #1a5f30;
    font-size: 16px;
    font-weight: bolder;
}

.download-wrapper {
    display: inline-flex;
    margin: 35px 0px;
}

.datasheet-download-title {
    margin: auto;
    font-size: 24px;
    font-weight: 800;
}

section.form-contact button {
    float: right;
    margin: 0px 5px;
    padding: 10px 20px;
    text-transform: uppercase;
}


section.form-contact .input-lg {
    font-size: 14px;
    border: 2px solid #1a5f30;
}

section.form-contact .form-group {
    margin-bottom: 5px;
}


/* BLOG LIST */
.news-item {
    height: 450px;
}

.product-info {
    font-weight: bold;
}

.info-list-blog p {
    font-size: 12px;
    font-weight: bold;
    color: #444444;
    text-transform: uppercase;  
}

.info-list-blog li:nth-child(3){
    margin-bottom: 5px;
}

.info-list-blog li:last-child p{
    text-transform: none !important;
    font-weight: normal;
    font-size: 14px;
}

.news-item button{
    font-weight: bold;
    margin-top: 0px !important;
    float: right;
}

.i-resp {
    margin-left: 0px !important;
    margin-right: 5px; 
    margin-bottom: 15px;
    color: #1a5f30 !important;
}

.meta-info span {
    text-transform: uppercase;
    font-weight: bold;
}

.share-title h3 {
    text-transform: uppercase;
    font-weight: bold;
}


.share-links li{
    padding: 0px;
}

.line-bottom {
    padding-bottom: 15px;
    border-bottom: 2px solid #ddd;
}

article.news-description p {
    font-size: 16px !important;
    line-height: 25px;
    text-align: left !important;
}


.share-links li i {
    font-size: 20px;
}

.post-meta {
    margin: 35px 0px;
}

.subtitle-news > h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}

.news-title {
    font-size: 28px !important;
    color: #1a5f30 !important;
    text-transform: uppercase;
    font-weight: 500;
    margin: 8px 0px;
    font-weight: 600;
}

.news-title-sidebar {
    font-size: 22px !important;
    color: #1a5f30 !important;
    text-transform: uppercase;
    font-weight: 500;
    margin: 8px 0px;
    font-weight: 600;
    margin-bottom: 35px;
}

.sidebar-block {
    margin-bottom: 35px;
}

.popular-product-item ul li:first-child {
    font-family: 'Arial', sans-serif;
    font-weight: bolder;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

.latest-news-item ul li:first-child a {
    text-transform: uppercase;
    color: #1a5f30;
    font-weight: bold !important;
}

.latest-news-item ul li:last-child a {
    color: #1a5f30;
}

.popular-product-item ul li:nth-child(2) {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

.popular-product-item ul li > a {
    color: #1a5f30;
}

.popular-product-item, .latest-news-item {
    margin: 20px 0px;
}


/* NORMALIZE */

.btn-primary:active:hover {
    background-color: #ddd !important;
}



/* RESPONSIVE */

@media only screen and (max-width: 768px) {

    .product-rating {
        width: 100%;
    }

}

@media only screen and (max-width: 425px) {
    .i-resp {
        color: #1a5f30 !important;
    }
}
