
.menu-link-mobile {
    display: none !important;
}

.social-media img {
    width: 30px;
}

.social-media-mobile-link {
    border: none !important;
}

ul>li {
    list-style: none;
}

.img-footer {
    margin: auto;
}

.main-menu {
    padding: 0px !important;
    margin-bottom: 35px;
}

.social-icons-mobile img {
    filter: brightness(0) invert(1);
    height: 30px;
}

.social-icons-mobile {
    padding: 35px 0px 0px 0px;
    background-color: #005f29;
    display: none;
}

.mobile-top-menu {
    display: none;
}

@media only screen and (min-width: 1024px) {
    
    .menu-mobile {
        display: none;
    }

    .social-media-mobile {
        display: none;
    }

}


@media only screen and (max-width: 1024px) {
    
    .main-menu-flex{
        display: block;
    }

    .top-menu.floating {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .main-menu-flex .navbar {
        margin: 2% auto;
    }

    div#logo {
        float: left;
        max-width: 190px;
    }

    .nav>li>a {
        padding: 10px 9px;
    }

    .social-media-mobile {
        display: none;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .social-media-mobile {
      display: none;
  }
}

@media only screen and (max-width: 768px){
    
    .top-menu ul li {
        border: none;
    }
    
    .container {
        width: auto !important;
    }

    .main-menu {
        padding: 0px !important;
        margin: 0px !important;
    }
    
    div#logo {
        margin: 0% 260px;
        margin-bottom: 15px;
    }

    .banner_1.info {
        width: 600px;
        height: 300px;
    }

    .nav>li>a {
        padding: 10px 10px;
        background: #b6c931;
        color: #FFFFFF;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .banner_2.info {
        width: 768px;
        left: 65%;
    }

    .social-media {
        display: none;
     }

     .social-media-mobile {
        display: block; 
        float: left;
         z-index: 99999;
         position: fixed;
         background: rgba(165, 203, 2, 0.90);
         padding: 1%;
         border-radius: 30px;
     }

     .social-media-mobile img {
         width: 30px;
         margin: 0px 5px;
     }

     .social-media-mobile ul li {
         border: none !important;
     }

     .contact-title {
        display: none;
    }

}

@media only screen and (max-width: 425px) {
    
    .mobile-top-menu {
        display: block;
        padding-top: 10px;
        text-align: center;
    }

    .mobile-top-menu-scroll {
        position: fixed;
        z-index: 9999;
        margin-top: 0px;
        padding: 10px 0px;
        background-color: #FFFFFF;
        width: 100%;
        -webkit-box-shadow: 0px 0.2px 0.5px 0px rgba(0,95,41,1);
        -moz-box-shadow: 0px 0.2px 0.5px 0px rgba(0,95,41,1);
        box-shadow: 0px 0.2px 0.5px 0px rgba(0,95,41,1);
    }

    .mobile-top-menu-scroll ul {
        margin: auto;
    }

    .mobile-top-menu a {
        color: #005f29;
    }

    .mobile-top-menu i {
        color: rgba(165, 203, 2, 0.90);
    }

    .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
        overflow-x: visible;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        position: absolute;
        width: 100%;
        top: 50px;
    }

    li.btn-app-parent {
        margin-left: 0px;
    }
    
    li.btn-app-parent a.btn-app {
        margin-left: 0px;
        color: #b6c931 !important;
        background: #225f27 !important;
    }

    .social-icons-mobile {
        display: block;
    }
    
    .navbar-collapse {
        margin-top: 35px;
        transition: 0.2s ease;
    }

    button.btn.btn-navbar.navbar-toggle {
        top: 30px;
    }
    
    div#logo{
        margin: 0%;
    }

    .banner_2.info h2 {
        font-size: 36px;
    }

    .banner_2.info {
        left: 117%;
    }

    .banner_2.info {
        width: 425px;
    }

    .banner_1.info {
        width: 425px;
    }

    .banner_1.info p {
        font-size: 30px;
    }

    .navbar-toggle {
        background-color: rgba(165, 203, 2, 0.90);
        padding: 10px 20px;
    }

    .fa {
        font-size: 16px;
        color: #fff;
    }

    .top-menu {
        display: none;
    }

    li.btn-app-parent{
        padding: 0px;
        margin: 0px;
    }

    .collapse.navbar-collapse.navbar-ex1-collapse ul li a {
        margin: 0px;
        background: #b6c931;
        color: #FFFFFF;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .menu-link-mobile {
        display: block !important;
    }

    .contact_form {
        background-color: rgb(165, 203, 2);
    }

    .col-sm-3.contact-info {
        margin-top: 65px;
    } 

    .dropdown-inner {
        background: #b6c931;   
    }

    .dropdown-menu {
        padding: 0px;
    }

    .dropdown-inner > ul > li {
        padding-left: 30px;
    }

    form#contact_form input, form#contact_form textarea {
        font-size: 14px;
    }

    .contact_infos p {
        text-align: center;
        margin-top: 40px;
    }

    .contact_infos p span {
        font-size: 16px;
    }

    .distribuicao-description.font-green p, .industry-description.font-green p, .assistencia-description.font-green {
        text-align: left;
    }

    a.categories-cell .categories {
        min-height: 150px;
    }

    .categories-cell {
        filter: grayscale(0%) !important;
    }

    img.pulse.img-responsive {
        display: none;
    }
}

@media only screen and (max-width: 375px) {

    
    .mobile-top-menu-scroll ul li, .mobile-top-menu ul li {
        font-size: 12px;
    }
    
    .banner_2.info {
        width: 375px;
    }

    .banner_2.info {
        left: 133%;
    }

    .banner_2.info h5 {
        font-size: 20px;
    }

    .banner_2.info h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 320px) {

    .mobile-top-menu-scroll ul li, .mobile-top-menu ul li {
        font-size: 10px;
    }

    .banner_2.info {
        width: 320px;
    }
    
    .banner_2.info {
        left: 156%;
    }

    .banner_2.info h5 {
        font-size: 20px;
    }

    .banner_2.info h2 {
        font-size: 28px;
    }
}