<footer>
    <div class="contact_form">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0 col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-sm-9">
                            <form action="{{ action }}"  method="post" enctype="multipart/form-data" class="form-horizontal" id="contact_form">
                                <fieldset>
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" placeholder="{{ entry_name }}"/>
                                            {% if error_name %}
                                                <div class="text-danger">{{ error_name }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <div class="col-sm-12">
                                            <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" placeholder="{{ entry_email }}"/>
                                            {% if error_email %}
                                                <div class="text-danger">{{ error_email }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-12 control-label" for="input-enquiry"></label>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" id="input-enquiry" name="enquiry" rows="10" placeholder="{{ entry_enquiry }}">{{ enquiry }}</textarea>
                                            {% if error_enquiry %}
                                                <div class="text-danger">{{ error_enquiry }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {{ captcha }}
                                </fieldset>
                                <div class="buttons">
                                    <div class="pull-right">
                                        <input class="btn btn-primary herbicat" type="submit" value="{{ button_submit }}"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-3 contact-info">
                            <div class="contact_infos">
                                <h2 class="contact-title">CONTATO</h2>
                                <img class="img-responsive img-footer" src="catalog/view/theme/herbicat/image/logo_contact_form.png"/>
                                  <!-- <img class="img-responsive" src="http://local.herbicat.com.br/image/catalog/logo_branco.png"/> -->
                                <p>
                                    <span class="contact-title">Telefone:</span>
                                    <span class="contact-info">17 3524-9797</span>
                                    <span class="contact-title">E-mail:</span>
                                    <span class="contact-info">contato@herbicat.com.br</span>
                                    <span class="contact-title">Horário:</span>
                                    <span class="contact-info">De Segunda à Sexta-feira,</span>
                                    <span class="contact-info">das 07h30 às 17h48</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-informations">
        <a href="{{ home }}">
            <img class="img-footer" src="catalog/view/theme/herbicat/image/logo_bottom.png"/>
        </a>
        
        <section class="social-icons-mobile">
            <div class="container-fluid">
                <div class="row">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/icn_whatsapp.png" alt="WhatsApp" class="img-responsive"></a></li>
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/icn_facebook.png" alt="Facebook" class="img-responsive"></a></li>
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/icn_instagram.png" alt="Instagram" class="img-responsive"></a></li>
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/icn_youtube.png" alt="YouTube" class="img-responsive"></a></li>
                        <li class="list-inline-item"><a href="#"><img src="catalog/view/theme/herbicat/image/linkedin_ico.png" alt="YouTube" class="img-responsive"></a></li>
                    </ul>
                </div>
            </div>
        </section>


        
        <div class="copyright">
            <div class="col-sm-6 block font-green">
                Herbicat &copy; 2019 - Todos os direitos reservados
            </div>
            <div class="col-sm-6 block ">
                <a href="http://agencialed.com.br" class="font-green" target="_BLANK">Desenvolvido por Led Digital</a>
            </div>
        </div>
    </div>
    {# <div class="container">
            <div class="row">
                {% if informations %}
                    <div class="col-sm-3">
                        <h5>{{ text_information }}</h5>
                        <ul class="list-unstyled">
                            {% for information in informations %}
                                <li>
                                    <a href="{{ information.href }}">{{ information.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col-sm-3">
                    <h5>{{ text_service }}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ contact }}">{{ text_contact }}</a>
                        </li>
                        <li>
                            <a href="{{ return }}">{{ text_return }}</a>
                        </li>
                        <li>
                            <a href="{{ sitemap }}">{{ text_sitemap }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>{{ text_extra }}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
                        </li>
                        <li>
                            <a href="{{ voucher }}">{{ text_voucher }}</a>
                        </li>
                        <li>
                            <a href="{{ affiliate }}">{{ text_affiliate }}</a>
                        </li>
                        <li>
                            <a href="{{ special }}">{{ text_special }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>{{ text_account }}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ account }}">{{ text_account }}</a>
                        </li>
                        <li>
                            <a href="{{ order }}">{{ text_order }}</a>
                        </li>
                        <li>
                            <a href="{{ wishlist }}">{{ text_wishlist }}</a>
                        </li>
                        <li>
                            <a href="{{ newsletter }}">{{ text_newsletter }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <p>{{ powered }}</p>
        </div> #}
</footer>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"/>
{% endfor %}
</body></html>
